
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, #app{
    height:100%;
}

body{
    //overflow: hidden;
}

body {
    height:100%;
    #app{
        position:relative;
        transition: all 1s ease;
        right:0px;
    }
    &.slided {
        #app {
            position: relative;
            right: 400px;
        }
        .form-handler {
            right: -400px;
        }
    }
}

.form-handler{
    background: #FFF;
    box-shadow: inset 36px 0 57px -43px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 1s ease;
    right:-400px;
    padding: 15px 30px;
    top:0px;
    width:400px;
    min-height:100%;
}

.notification{
    position: absolute;
    top: 10px;
    right:10px;
}










