<template>
    <a href="#" @click.prevent="showAddProject" :class="'btn btn-success btn-lg' + ((this.status) ? '':' disabled')">
        <span>Add project</span>
    </a>
</template>

<script>
    import EventBus from '../app'
    export default {
        data(){
          return {
              status: true
          }
        },
        methods:{
            showAddProject(){
                EventBus.$emit('show-formhandler', {'open':'project', 'status': true})
            }
        },
        mounted(){
            EventBus.$on('edit-project',()=>{
                this.status = false
            })
            EventBus.$on('show-formhandler',()=>{
                this.status = false
            })
            EventBus.$on('project-created',()=>{
                this.status = true
                EventBus.$emit('close-sidebar')
            })
            EventBus.$on('project-updated',()=>{
                this.status = true
                EventBus.$emit('close-sidebar')
            })
            EventBus.$on('close-sidebar',()=>{
                this.status = true
            })
        }
    }
</script>

<style scoped>

</style>
