<template>
    <form>
        <br><h2>{{ (this.project.id) ? 'Edit' : 'Add' }} project</h2><br><br>
        <div class="form-group">
            <label for="client">Client</label>
            <select id="client" class="form-control" v-model="form.currentclient">
                <option value="" selected disabled>Choose client...</option>
                <option :value="client.id" v-for="(client, ckey) in this.clients" :key="ckey">{{ client.name }}</option>
            </select>
            <span class="text-danger" v-if="this.errors.currentclient">{{ this.errors.currentclient[0] }}</span>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" class="form-control" v-model="form.currentcategory">
                <option value="" selected disabled>Choose category...</option>
                <option :value="category.id" v-for="(category, catkey) in this.categories" :key="catkey">{{ category.name }}</option>
            </select>
            <span class="text-danger" v-if="this.errors.currentcategory">{{ this.errors.currentcategory[0] }}</span>
        </div>
        <div class="form-group">
            <label for="name">Project name</label>
            <input type="text" id="name" class="form-control" v-model="form.name" />
            <span class="text-danger" v-if="this.errors.name">{{ this.errors.name[0] }}</span>
        </div>
        <div class="form-group">
            <label for="estimation">Estimated time</label>
            <input type="number" id="estimation" class="form-control" v-model="form.estimation" />
            <span class="text-danger" v-if="this.errors.estimation">{{ this.errors.estimation[0] }}</span>
        </div>
        <div class="form-group">
            <button type="button" @click.prevent="sendForm" class="btn btn-success btn-lg">{{ (this.project.id) ? 'Update project' : 'Save project' }}</button>
        </div>
    </form>
</template>

<script>
    import axios from 'axios'
    import $ from 'jquery'
    import EventBus from '../app'

    export default {
        props:['team'],
        data(){
            return {
                project:{},
                form:{
                    currentclient:"",
                    currentcategory:"",
                    name:"",
                    estimation:""
                },
                errors:{},
                clients:{},
                categories:{}
            }
        },
        methods:{
            sendForm(){
                if(this.project.id){
                    axios.put('/dashboard/projects/' + this.project.id, this.form).then((response) => {
                        EventBus.$emit('project-updated', response.data)
                    }).catch((errors) => {
                        this.errors = errors.response.data.errors
                    })
                }else {
                    axios.post('/dashboard/projects', this.form).then((response) => {
                        EventBus.$emit('project-created', response.data)
                    }).catch((errors) => {
                        this.errors = errors.response.data.errors
                    })
                }
            }
        },
        mounted(){
            EventBus.$on('show-formhandler',()=>{
                this.project = {}
                this.errors = {}
                this.form = {
                    'currentcategory':"",
                    'currentclient':"",
                }
            })
            EventBus.$on('edit-project', (payload)=>{
                this.project = payload.project
                this.form.currentclient = this.project.client_id
                this.form.currentcategory = this.project.category_id
                this.form.name = this.project.name
                this.form.estimation = this.project.estimation
                this.errors = {}
            })
            axios.get('/api/v2/clients/'+this.team.id).then((response)=>{
                this.clients = response.data
            })
            axios.get('/api/v2/categories').then((response)=>{
                this.categories = response.data
            })
        }
    }
</script>

<style scoped>

</style>













