<template>
    <span>
        <a href="#" class="btn btn-success btn-lg" @click.prevent="triggerShow">Invite</a>
        <div class="add-member-form" v-if="show">
            <form>
                <div class="form-group">
                    <input type="text" @keyup="showSuggestions" class="form-control" v-model="invitee" />
                    <div id="overlay_fake" v-if="suggestions.email" v-text="suggestions.email"></div>
                    <div id="invitee_fake" v-text="invitee"></div>
                    <span class="invite text-success" @click.prevent="inviteMember">
                        <ion-icon size="large" name="checkmark"></ion-icon>
                    </span>
                </div>
            </form>
        </div>
    </span>
</template>

<script>
    import axios from 'axios'
    import $ from 'jquery'
    import swal from 'sweetalert2'
    export default {
        data(){
            return {
                invitee:"",
                show: false,
                suggestions:{}
            }
        },
        methods:{
            inviteMember(){
                axios.post('/dashboard/team',{'email': this.invitee}).then((response)=>{
                    swal('Success','Member has been invited to your team','success').then(()=>{
                        this.invitee = ""
                        this.suggestions = {}
                        this.triggerShow()
                    })
                })
            },
            showSuggestions(e){
                if(this.invitee.length > 2){
                    axios.post('/api/v2/getUsernameSuggestions',{querystring:this.invitee}).then((response)=>{
                        this.suggestions = response.data
                    })
                    if(e.key == 'ArrowRight'){
                        this.invitee = this.suggestions.email
                    }
                }
            },
            triggerShow(){
                this.show = !this.show
            },
        }
    }
</script>

<style scoped>
    #invitee_fake, #overlay_fake{
        position: absolute;
        top: 8px;
        left: 13px;
        z-index:100000;
    }
    #overlay_fake{
        color:#AFAFAF;
    }
    .form-control{
        color: transparent;
    }
    .add-member-form{
        position:absolute;
        width:100%;
        left:0px;
        margin-top:20px;
    }
    .invite{
        position: absolute;
        right:0px;
        transform: translateY(-35px) translateX(-10px);
        cursor:pointer;
    }
</style>
