<template>
    <div>
        <div class="float-right">
            <a href="#" @click.prevent="closeSidebar">
                <ion-icon size="large" name="close"></ion-icon>
            </a>
        </div>
        <div v-show="showForm == 'project'">
            <add-project-form :team="this.team"></add-project-form>
        </div>
    </div>
</template>

<script>
    import EventBus from '../app'
    import $ from 'jquery'
    export default {
        props:['team'],
        data(){
            return {
                showForm: null,
                status: false
            }
        },
        methods:{
            closeSidebar(){
                EventBus.$emit('close-sidebar')
            },
            changeStatus(){
                this.status ? $('body').addClass('slided') : $('body').removeClass('slided')
            }
        },
        mounted(){
            EventBus.$on('show-formhandler', (payload)=>{
                this.showForm = payload.open
                this.status = payload.status
                this.changeStatus()
            })
            EventBus.$on('edit-project', (payload)=>{
                this.showForm = 'project'
                this.status = payload.status
                this.changeStatus()
            })
            EventBus.$on('close-sidebar', ()=>{
                this.status = false
                this.changeStatus()
            })
        }
    }
</script>

<style scoped>

</style>
