<template>
    <div>
        <span @click.prevent="toggleDetails" v-if="Object.keys(this.timeframe).length" class="dropdown-details"><ion-icon name="arrow-dropdown"></ion-icon></span>
        <span class="timer">
            <span class="minutes" v-text="this.minutes"></span>:<span class="seconds" v-text="this.seconds"></span>
        </span>
        <span>
            <a v-if="!started" href="#" @click.prevent="startTimer"><ion-icon name="play"></ion-icon></a>
            <a v-else href="#" @click.prevent="stopTimer"><ion-icon name="square"></ion-icon></a>
        </span>
        <div class="timer-details" v-show="regged">
            <form>
                <div class="form-group">
                    <select class="form-control" v-model="form.client" @change="getProjects(form.client)">
                        <option value="" selected disabled>Choose client...</option>
                        <option :key="c" :value="client.id" v-for="(client, c) in this.clients">{{ client.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" v-model="form.project" @change="getTasks">
                        <option value="" selected disabled>Choose project...</option>
                        <option :key="p" :value="project.id" v-for="(project, p) in this.projects">{{ project.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" v-model="form.task">
                        <option value="" selected disabled>Choose task...</option>
                        <option v-show="this.form.project" value="new">Create new task...</option>
                        <option  :key="t" :value="task.id" v-for="(task, t) in this.tasks">{{ task.name }}</option>
                    </select>
                </div>
                <div class="form-group" v-if="this.form.task && this.form.task == 'new'">
                    <input class="form-control" placeholder="Enter new task name..." v-model="form.newtask">
                </div>
                <div class="form-group">
                    <button @click.prevent="updateTimeframe"><ion-icon name="checkmark"></ion-icon></button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery'
    export default {
        props:['team','current'],
        data(){
            return {
                timeframe:{},
                form:{
                    client:"",
                    project:"",
                    task:""
                },
                clients:{},
                projects:{},
                tasks:{},
                minutes:"00",
                seconds:"00",
                totalSeconds:0,
                started: false,
                regged: false,
                interval:{}
            }
        },
        methods:{
            toggleDetails(){
                this.regged = !this.regged
            },
            pad(val) {
                let valString = val + "";
                if (valString.length < 2) {
                    return "0" + valString;
                } else {
                    return valString;
                }
            },
            setTime() {
                ++this.totalSeconds;
                this.seconds = this.pad(this.totalSeconds % 60)
                this.minutes = this.pad(parseInt(this.totalSeconds / 60))
            },
            startTimer(){
                axios.post('/dashboard/timeframes').then((response)=>{
                    this.timeframe = response.data
                })
                this.tickTack()
                this.regged = true
            },
            tickTack(){
                this.interval = setInterval(this.setTime, 1000)
                this.started = true
            },
            stopTimer(){
                axios.put('/dashboard/timeframes/'+this.timeframe.id,{'finished_at':1}).then(()=>{
                    this.timeframe = {}
                    this.seconds = "00"
                    this.minutes = "00"
                    this.totalSeconds = 0
                    this.started = false
                    this.regged = false
                    this.form = {
                        project:"",
                        task:"",
                        client:""
                    }
                    this.tasks = {}
                    clearInterval(this.interval)
                })

            },
            updateTimeframe(){
                if(this.form.task == 'new'){
                    axios.post('/dashboard/tasks',{'project_id':this.form.project, 'name':this.form.newtask}).then((response)=>{
                        this.tasks.push(response.data)
                        axios.put('/dashboard/timeframes/' + this.timeframe.id, {'task_id': response.data.id}).then((response) => {
                            this.timeframe = response.data
                            this.regged = false
                            this.form.task = response.data.task_id
                            this.form.newtask = null
                        })
                    })
                }else {
                    axios.put('/dashboard/timeframes/' + this.timeframe.id, {'task_id': this.form.task}).then((response) => {
                        this.timeframe = response.data
                        this.regged = false
                    })
                }
            },
            setOffset(){
                $('.timer-details').css('left', $('.timer').position().left - 320)
            },
            getTasks(){
                axios.get('/api/v2/tasks/'+this.form.project).then((response)=>{
                    this.tasks = response.data
                })
            },
            getProjects(client = null){
                let url = "/api/v2/allprojects/" + this.team.owner_id
                if(client != null){
                    url = url + '/' + client
                }
                axios.get(url).then((response)=>{
                    this.projects = response.data
                })
            },
            getClients(){
                axios.get('/api/v2/clients/'+this.team.owner_id).then((response)=>{
                    this.clients = response.data
                })
            },
            getInitialData(){
                if(this.current != null){
                    let now = Math.round(new Date().getTime() / 1000)
                    this.totalSeconds = parseInt(now) - parseInt(this.current.started_at)
                    this.timeframe = this.current
                    if(this.current.task && Object.keys(this.current.task).length){
                        this.form.task = this.current.task.id
                        if(Object.keys(this.current.task.project).length){
                            this.form.project = this.current.task.project.id
                            if(Object.keys(this.current.task.project.client).length){
                                this.form.client = this.current.task.project.client.id
                            }
                        }
                        this.getTasks()
                    }
                    this.tickTack()
                }
                this.getClients()
                this.getProjects()
            }
        },
        mounted(){
            this.getInitialData()
            this.setOffset()
            $(window).resize(()=>{
                this.setOffset()
            })
        }
    }
</script>

<style scoped lang="scss">
    .timer-details{
        position:absolute;
        background: #FFF;
        border-radius: 5px;
        padding:20px;
        z-index:10000000;
        box-shadow: 0px 0px 20px #CECECE;
        width: 400px;
    }
    .timer{
        font-size:32px;
    }
    ion-icon {
        position:relative;
        top:5px;
        font-size: 32px;
    }
</style>
