<template>
    <form method="POST" action="#">
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input @keyup="clear" id="email" type="email" class="form-control" name="email" required autofocus v-model="form.email">
                <span class="text-danger" v-if="this.errors.email"><strong>{{ this.errors.email[0] }}</strong></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input @keyup="clear" id="password" type="password" class="form-control" name="password" required v-model="form.password">
                <span class="text-danger" v-if="this.errors.password"><strong>{{ this.errors.password[0] }}</strong></span>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button @click.prevent="login" type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-link" href="#">Forgot Your Password?</a>
            </div>
        </div>
    </form>
</template>

<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                form:{
                    'email':null,
                    'password':null
                },
                errors:{}
            }
        },
        methods:{
            login(){
                axios.post('/login', this.form).then((response)=>{
                    console.log(response.data)
                    if(response.data.id){
                        window.location.href = this.$parent.url
                    }
                }).catch((errors)=>{
                    this.errors = errors.response.data.errors
                })
            },
            clear(event){
                this.errors[event.target.name] = {}
            }
        }
    }
</script>

<style scoped>
    form{
        margin:30px 0px;
    }
</style>








