<template>
    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Project name</th>
                <th>Client</th>
                <th>Estimation</th>
                <th>Actions</th>
            </tr>
            <tr v-for="(project, key) in projects.data" :key="key">
                <td>{{ project.name }}</td>
                <td>{{ project.client.name }}</td>
                <td>{{ project.estimation }}</td>
                <td>
                    <a href="#" @click.prevent="edit(key)" class="btn btn-warning btn-sm"><ion-icon name="brush"></ion-icon></a>
                    <a href="#" @click.prevent="destroy(key)" class="btn btn-danger btn-sm"><ion-icon name="trash"></ion-icon></a>
                </td>
            </tr>
        </table>
        <pagination :data="projects" @pagination-change-page="this.getProjects"></pagination>
    </div>
</template>

<script>
    import axios from 'axios'
    import EventBus from "../app";
    import swal from 'sweetalert2'
    export default {
        props:['team'],
        data(){
            return {
                projects:{}
            }
        },
        methods:{
            edit(key){
                EventBus.$emit('edit-project', {'status':true, 'project':this.projects.data[key], 'key':key})
            },
            destroy(key){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/dashboard/projects/'+ this.projects.data[key].id).then((response)=>{
                            if(response.data == "1"){
                                this.getProjects(this.projects.current_page)
                            }
                        })
                    }
                })
            },
            getProjects(page=1){
                axios.get('/api/v2/projects/' + this.team.id +'?page='+page).then((response)=>{
                    this.projects = response.data
                })
            }
        },
        mounted(){
            this.getProjects()
            EventBus.$on('project-created', ()=>{
                this.getProjects()
            })
            EventBus.$on('project-updated', ()=>{
                this.getProjects(this.projects.current_page)
            })
        }
    }
</script>

<style scoped>

</style>













