<template>
    <form method="POST" action="#">
        <div class="alert alert-danger" v-if="Object.keys(this.errors).length && this.errors.general">{{ this.errors.general[0] }}</div>
        <div class="form-group row">
            <label for="firstname" class="col-md-4 col-form-label text-md-right">Lastname</label>

            <div class="col-md-6">
                <input id="firstname" type="text" class="form-control" name="firstname" required autofocus v-model="form.firstname">
                <span class="text-danger" v-if="this.errors.firstname">{{ this.errors.firstname[0] }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="lastname" class="col-md-4 col-form-label text-md-right">Lastname</label>

            <div class="col-md-6">
                <input id="lastname" type="text" class="form-control" name="lastname" required  v-model="form.lastname">
                <span class="text-danger" v-if="this.errors.lastname">{{ this.errors.lastname[0] }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" required v-model="form.email">
                <span class="text-danger" v-if="this.errors.email">{{ this.errors.email[0] }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" v-model="form.password" required>
                <span class="text-danger" v-if="this.errors.password">{{ this.errors.password[0] }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

            <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="form.password_confirmation" required>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button type="submit" @click.prevent="register" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</template>

<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                form: {
                    firstname:null,
                    lastname:null,
                    email:null,
                    password:null,
                    password_confirmation:null
                },
                errors: {}
            }
        },
        methods:{
            register(){
                axios.post('/register', this.form).then((response)=>{
                    if(response.data.id){
                        window.location.href = this.$parent.url
                    }
                }).catch((errors)=>{
                    this.errors = errors.response.data.errors
                })
            },
            clear(event){
                this.errors[event.target.name] = {}
            }
        }
    }
</script>

<style scoped>
    form{
        margin: 30px 0px;
    }
</style>
