<template>
    <div class="container">
        <div class="row">
            <div class="col-3 offset-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>Starter</h3>
                        <ul class="list-unstyled">
                            <li>Feature #1</li>
                            <li>Feature #2</li>
                            <li>Feature #3</li>
                        </ul>
                        <a href="#" @click.prevent="choose('starter')" class="btn btn-info btn-lg">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>Pro</h3>
                        <ul class="list-unstyled">
                            <li>Feature #4</li>
                            <li>Feature #5</li>
                            <li>Feature #6</li>
                        </ul>
                        <a href="#" @click.prevent="choose('pro')" class="btn btn-warning btn-lg">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
            choose(plan){
                this.$parent.$emit('chosen_plan', plan)
            }
        }
    }
</script>

<style scoped>

</style>
