<template>
    <div class="subscriptions">
        <div class="subscription_chooser" v-show="current_state == 'chooser'">
            <subscription-chooser></subscription-chooser>
        </div>
        <div class="payment" v-show="current_state == 'payment'">
            <payment :plan="this.plan"></payment>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                current_state:"chooser",
                plan:""
            }
        },
        mounted(){
            this.$on('chosen_plan', (payload)=>{
                this.plan = payload
                this.current_state = "payment"
            })
        }
    }
</script>

<style scoped>

</style>














